body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
li {
  list-style: none;
}
ul {
  padding: none;
}

.header {
  font-size: 15px;
}

.weather-app {
  border: 1px solid #dadde1;
  border-radius: 5px;
  padding: 30px;
}
.weather-app-wrapper {
  max-width: 400px;
  margin: 40px auto;
}

.row {
  font-size: 12px;
}

.col {
  margin-top: 40px;
}

.temperature-now {
  padding: 30px;
  position: relative;
  right: -20px;
}

.temperature-now strong {
  font-size: 50px;
  line-height: 1;
  text-align: center;
}

.units {
  position: relative;
  top: -24px;
  font-size: 14px;
}
